@charset "UTF-8";
/* Developer: Juan Ignacio Cieri */
/* Developer URI: http://juancieri.com */

@import 'helpers/_variables';
@import 'helpers/_mixins';
@import 'components/_fonts';
@import 'components/_forms';
@import 'layout/_grid';

// COMMON
body, html {
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $medium;
}

p {
    color: $black;
    font-family: $book;
    margin: 0 auto;
    font-size: 15px;
    @include font-size(15px);
}
.img-block {
    display: block;
    margin: 0 auto;
}

.spacer {
    height: 50px;
    display: block;
}

.fullHeight {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    @media (min-width: 768px) {
        background-attachment: fixed;
    }
    
    @media (max-width: 600px) {
        align-items: center;
    }
    
    & > div {
        padding: 10em;
        @media (max-width: 840px) {
            padding: 7em;
        }
        @include media-xs {
            padding: 5em;
        }
        @media (max-width: 600px) {
            padding: 5em 25px;
        }
    }
    
}

.header-misc {
    position: absolute;
    left: -50px;
    bottom: -50px;
    @media (max-width: 600px) {
        opacity: 0.3;
    }
}

section {
    padding: 40px 0;
    position: relative;
    
    &.padding-bottom {
        padding-bottom: 170px;
    }
    
}

// BACKGROUNDS
.bg-white {
    background-color: $white;
    
    &.separator-before {
        &:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: -70px;
            width: 100%;
            height: 70px;
            background-color: transparent;
            background-image: url(../../img/separator-before-white.svg);
            background-repeat: repeat-x;
            background-position: center center;
            background-size: 110%;
            @include media-md {
                background-size: 110% 100%;
            }
        }
    }
    
}

.bg-lightgray {
    background-color: $lightgray;
    
    &.separator-before {
        &:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: -75px;
            width: 100%;
            height: 75px;
            background-color: transparent;
            background-image: url(../../img/separator-before-lightgray.svg);
            background-repeat: repeat-x;
            background-position: bottom center;
            background-size: 110%;
        }
    }
    
}

.bg-gray {
    background-color: $gray;
    
    &.separator-before {
        &:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: -120px;
            width: 100%;
            height: 170px;
            background-color: $lightgray;
            background-image: url(../../img/separator-before-gray.svg);
            background-repeat: repeat-x;
            background-position: top center;
            background-size: 100%;
        }
        &.white {
            &:before {
                background-color: $white;
            }
        }
    }
    
}
.bg-after-white + .bg-gray {
    background-color: $white !important;
}

// TITLES
.section-title {
    color: $primary-color;
    text-transform: uppercase;
    font-size: 35px;
    @include font-size(35px);
    display: inline-block;
    margin: 0 auto 25px auto;
    
    &:before {
        content: "";
        position: absolute;
        background-image: url(../../img/title-icon.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
        height: 42px;
        width: 42px;
        margin-left: -60px
    }
    
    & + p {
        max-width: 507px;
        margin: 0 auto 70px auto;
    }
    
}
.section-subtitle {
    text-transform: uppercase;
    color: $secondary-color;
    margin: 0 0 50px 0;
    font-family: $semibold;
    font-size: 24px;
    @include font-size(24px);
}
.header-title {
    color: $white;
    font-family: $medium;
    font-size: 75px;
    @include font-size(75px);
    margin: 0;
    max-width: 500px;
    text-align: right;
    line-height: 80px;
    @include line-height(80px);
    span {
        display: block;
        font-family: $light;
        font-size: 40px;
        @include font-size(40px);
        line-height: 50px;
        @include line-height(50px);
    }
    
    @include media-xs {
        font-size: 50px;
        @include font-size(50px);
        line-height: 55px;
        @include line-height(55px);
        span {
            font-size: 25px;
            @include font-size(25px);
            line-height: 35px;
            @include line-height(35px);
        }
    }
    
    @media (max-width: 600px) {
        text-align: center;
    }
    
}

// BUTTONS
.btn {
    outline: none;
    font-family: $medium;
    transition: 0.3s;
    
    &-menu {
        text-transform: uppercase;
        color: $white !important;
        background-color: $primary-color;
        font-size: 15px;
        @include font-size(15px);
        @include border-radius(25px);
        padding: 10px 25px;
        display: inline-block;
        margin: 0;
    }
    
}

@import 'layout/_header';
@import 'layout/_footer';
@import 'components/_carousel';

// PAGES
@import 'pages/_home';
@import 'pages/_about';
@import 'pages/_contact';

// CUSTOM SCROLLBAR
@include scrollbars(.5em, $primary-color);