// FORMS
.form {
    position: relative;
    
    &-control-label {
        color: $white;
        font-family: $medium;
        font-size: 13px;
        @include font-size(13px);
        font-weight: normal;
        letter-spacing: 1px;
    }
    &-control {
        background-color: #C2C4C6;
        border: none;
        @include border-radius(0);
        color: $white;
        font-family: $italic;
        font-size: 13px;
        @include font-size(13px);
    }
}
.arrow-submit {
    background: none;
    border: none;
    outline: none;
    color: $white;
    font-family: $italic;
    font-size: 20px;
    @include font-size(20px);
    position: absolute;
    top: 25px;
    right: 10px;
}