// FONTS
@font-face {
  font-family: 'ArcherPro-Light';
  src: url('../../fonts/ArcherPro-Light.eot');
  src: url('../../fonts/ArcherPro-Light.woff2') format('woff2'),
       url('../../fonts/ArcherPro-Light.woff') format('woff'),
       url('../../fonts/ArcherPro-Light.ttf') format('truetype'),
       url('../../fonts/ArcherPro-Light.svg#ArcherPro-Light') format('svg'),
       url('../../fonts/ArcherPro-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArcherPro-Book';
  src: url('../../fonts/ArcherPro-Book.eot');
  src: url('../../fonts/ArcherPro-Book.woff2') format('woff2'),
       url('../../fonts/ArcherPro-Book.woff') format('woff'),
       url('../../fonts/ArcherPro-Book.ttf') format('truetype'),
       url('../../fonts/ArcherPro-Book.svg#ArcherPro-Book') format('svg'),
       url('../../fonts/ArcherPro-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArcherPro-Medium';
  src: url('../../fonts/ArcherPro-Medium.eot');
  src: url('../../fonts/ArcherPro-Medium.woff2') format('woff2'),
       url('../../fonts/ArcherPro-Medium.woff') format('woff'),
       url('../../fonts/ArcherPro-Medium.ttf') format('truetype'),
       url('../../fonts/ArcherPro-Medium.svg#ArcherPro-Medium') format('svg'),
       url('../../fonts/ArcherPro-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArcherPro-MediumItalic';
  src: url('../../fonts/ArcherPro-MediumItalic.eot');
  src: url('../../fonts/ArcherPro-MediumItalic.woff2') format('woff2'),
       url('../../fonts/ArcherPro-MediumItalic.woff') format('woff'),
       url('../../fonts/ArcherPro-MediumItalic.ttf') format('truetype'),
       url('../../fonts/ArcherPro-MediumItalic.svg#ArcherPro-MediumItalic') format('svg'),
       url('../../fonts/ArcherPro-MediumItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArcherPro-Semibold';
  src: url('../../fonts/ArcherPro-Semibold.eot');
  src: url('../../fonts/ArcherPro-Semibold.woff2') format('woff2'),
       url('../../fonts/ArcherPro-Semibold.woff') format('woff'),
       url('../../fonts/ArcherPro-Semibold.ttf') format('truetype'),
       url('../../fonts/ArcherPro-Semibold.svg#ArcherPro-Semibold') format('svg'),
       url('../../fonts/ArcherPro-Semibold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}