// VARIABLES
$light: 'ArcherPro-Light', sans-serif;
$book: 'ArcherPro-Book', sans-serif;
$medium: 'ArcherPro-Medium', sans-serif;
$italic: 'ArcherPro-MediumItalic', sans-serif;
$semibold: 'ArcherPro-Semibold', sans-serif;

// COLORES
$black: #333132;
$white: white;
$lightgray: #E6E7E8;
$gray: #DCDDDE;

$primary-color: #E36F1E;
$secondary-color: #CFDE00;
$terciary-color: #008CAD;
$fourth-color: #068CAE;
$active-color: #EC008C;